#title-box {
  width: 600px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

#title-box input {
  border: none;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#title-box textarea {
  width: 550px;
  border: none;
  outline: none;
  resize: vertical;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#user-fields {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#note {
  float: left;
}
